<!DOCTYPE html>
<html lang="em">
<head>
    <meta charset="UTF-8">
    <title>Our Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainpage.css') }}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="fixed-top">
    <header class="topbar">
        <div class="container">
          <div class="row">
            <!-- social icon-->
            <div class="col-sm-12">
              <ul class="social-network">
                <li><a class="waves-effect waves-dark" href="https://www.instagram.com/andre_documentation/?hl=en"><i class="fa fa-instagram"></i></a></li>
                <li><a class="waves-effect waves-dark" href="https://github.com/AndreLiu1225"><i class="fa fa-github"></i></a></li>
                <li><a class="waves-effect waves-dark" href="https://www.linkedin.com/in/andre-liu-009733184/"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
  
          </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> Enigma.COM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
  
          <ul class="navbar-nav ml-auto">
  
            <li class="nav-item active">
              <a class="nav-link" href="/">Summarize
                <span class="sr-only">(current)</span>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
  
           <li class="nav-item">
              <a class="nav-link" href="/about">Survey Analytics(Coming soon)</a>
           </li>
  
            <li class="nav-item"> 
            <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<body id="about_body">
    <div class="container">
        <div class="box">
            <h2>01</h2>
            <h3>Text Summarizer</h3>
            <p>By using TextRank algorithm, we are able to summarise any body of text on the internet into a compact
               and easy to understand summary that is a quarter of its original body text size.</p>
        </div>
        <div class="box">
            <h2>02</h2>
            <h3>Survey Analysis (Coming Soon)</h3>
            <p>We plan to provide a survey analytics tool that allows businesses and researchers to easily conduct sentiment
               analysis and also provide insights on users' reviews of business products.
            </p>
        </div>
        <div class="box">
            <h2>03</h2>
            <h3>Good stuff</h3>
            <p>If you wanna see more cool things and you are a developer of some sorts in python
               or have experience in creating cool animations with CSS and HTML, please do contact me at the contact page. P.S. Don't spam</p>
        </div>
    </div>
</body>
</html>
